In [1]:
from pandas import read_csv, DataFrame
from os import getcwd

In [3]:
##########################################################################################
def get_task_data():
    my_file_dir = getcwd() + "\\movement_time_all.csv"
    df = read_csv(my_file_dir)
    return df

In [5]:
df = get_task_data()
df

     pid condition      posture       mt
0      1       yes    Q1FrontUp  44.1729
1      1       yes  Q1FrontDown  25.3698
2      1       yes  Q3FrontDown  10.0813
3      1       yes    Q3FrontUp   9.6930
4      1        no    Q1FrontUp  22.7206
..   ...       ...          ...      ...
187   24        no  Q1FrontDown  22.0228
188   24       yes  Q3FrontDown  12.2572
189   24       yes    Q1FrontUp  25.0762
190   24       yes    Q3FrontUp  11.4764
191   24       yes  Q1FrontDown  42.5954

[192 rows x 4 columns]

In [9]:
res = df.groupby(['pid', 'posture']).mean("mt")
res

                       mt
pid posture
1   Q1FrontDown  17.43055
    Q1FrontUp    33.44675
    Q3FrontDown   8.33165
    Q3FrontUp    11.54940
2   Q1FrontDown  11.31640
...                   ...
23  Q3FrontUp    57.64280
24  Q1FrontDown  32.30910
    Q1FrontUp    31.14150
    Q3FrontDown  12.31535
    Q3FrontUp    21.07720

[96 rows x 1 columns]

In [11]:
res.to_csv(getcwd()+"\\posture_ave.csv")